[Desktop Entry]
Encoding=UTF-8
Name=ACASH
Comment=ACASH P2P Cryptocurrency
Exec=archain-qt %u
Terminal=false
Type=Application
Icon=archain128
MimeType=x-scheme-handler/archain;
Categories=Office;Finance;
Name[ru]=archain-qt.desktop.desktop
