[Unit]
Description=ACASH's distributed currency daemon
After=network.target

[Service]
User=archain
Group=archain

Type=forking
PIDFile=/var/lib/archaind/archaind.pid

ExecStart=/usr/bin/archaind -daemon -pid=/var/lib/archaind/archaind.pid \
          -conf=/etc/archain/archain.conf -datadir=/var/lib/archaind

ExecStop=-/usr/bin/archain-cli -conf=/etc/archain/archain.conf \
         -datadir=/var/lib/archaind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
